
  on:
    push:
      branches: [main]

  jobs:
    ci:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
        - name: Test
          run: |
            npm install
            npm test
        - name: Deploy on Render
          if: github.ref == 'refs/heads/main'
          env:
            DEPLOY_HOOK_URL: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
          run: |
            curl "$DEPLOY_HOOK_URL"
        - name: Push to Docker Hub
          if: github.ref == 'refs/heads/main'
          env:
            DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
            DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          run: |
            docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
            docker build -t project-management-tool-back .
            docker push project-management-tool-back