
  on:
    push:
      branches: [main]

  jobs:
    ci:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
        
        - name: Set up JDK 21
          uses: actions/setup-java@v3
          with:
            java-version: '21'
            distribution: 'temurin'
            cache: 'maven'

        - name: Test
          run: |
            chmod +x mvnw
            ./mvnw clean verify

        - name: Deploy on Render
          if: github.ref == 'refs/heads/main'
          env:
            DEPLOY_HOOK_URL: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
          run: |
            curl "$DEPLOY_HOOK_URL"

        - name: Push to Docker Hub
          if: github.ref == 'refs/heads/main'
          env:
            DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
            DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          run: |
            docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
            docker build -t $DOCKER_USERNAME/project-management-tool-back .
            docker push $DOCKER_USERNAME/project-management-tool-back